.disSelect {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.rule-label {
  background: #eee;
  height: 20px;
  width: 20px;
  color: #555;
  box-sizing: border-box;
  border-radius: 10px;
  display: inline-block;
  line-height: 1.5;
  margin-left: 20px;
  margin-right: 10px;
  text-align: center;
}

.rule-btn {
  background: #57c5f7;
  /*background-image: -webkit-linear-gradient(top, #f7f7f7, #c2c2c2);*/
  /*background-image: -moz-linear-gradient(top, #f7f7f7, #c2c2c2);*/
  /*background-image: -ms-linear-gradient(top, #f7f7f7, #c2c2c2);*/
  /*background-image: -o-linear-gradient(top, #f7f7f7, #c2c2c2);*/
  /*background-image: linear-gradient(to bottom, #f7f7f7, #c2c2c2);*/
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-family: Arial;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  /*display: block;*/
  width: 80px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  margin: 5px;
  padding: 8px;
  line-height: 1.3;
  cursor: pointer;
}

.rule-btn:hover {
  box-shadow: 0px 2px 5px #888888;
  /*background-image: -webkit-linear-gradient(top, #ddd, #f7f7f7);
  background-image: -moz-linear-gradient(top, #ddd, #f7f7f7);
  background-image: -ms-linear-gradient(top, #ddd, #f7f7f7);
  background-image: -o-linear-gradient(top, #ddd, #f7f7f7);
  background-image: linear-gradient(to bottom, #ddd, #f7f7f7);*/
  text-decoration: none;
}

.rule-btn:active {
  background: #8bd5f9;
}

@keyframes msgDisplay {
  from {background: rgba(238, 238, 238, 0);}
  to {background: rgba(238, 238, 238, 0.8)}
}

.rule-border {
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
  box-sizing: border-box;
}
